<div class="row">
    <div class="col-md-5">
        <!-- Daten von App-Recipe-List bekommen
        <app-recipe-list (recipeSelected)="selectedRecipe = $event"></app-recipe-list> -->
        <!-- Mittels Service -->
        <app-recipe-list></app-recipe-list>
    </div>
    <div class="col-md-7">
        <!-- Daten an App-Recipe-Detail schicken (wird nicht mehr benötigt seit Service)
        <app-recipe-detail [selectedRecipe]="selectedRecipe"></app-recipe-detail> -->
        <!-- [selectedRecipe] ist @Output von recipe-detail und "selectedRecipe" die Property von recipe.component, welches dem Kind übergeben wird -->
        <router-outlet></router-outlet>
    </div>
</div>