<div class="row">
    <div class="col-xs-12">
        <form (ngSubmit)="onSubmit(f)" #f="ngForm" ngNativeValidate>
            <div class="row">
                <div class="col-sm-5 form-group">
                    <label for="itemName">Name</label>  <!--reagiert sowieso auf alle Veränderungen im selectedIngredient-->
                    <input 
                        type="text" 
                        id="itemName" 
                        class="form-control" 
                        [ngModel]="selectedIngredient.name" 
                        required 
                        name="name"
                        #nameControl="ngModel"
                        [ngClass]="{'invalidInput': !nameControl.valid && nameControl.value}">
                    <!-- ngModel sagt, dass dieses Element ein Control ist-->
                </div>
                <div class="col-sm-5 form-group">
                    <label for="itemAmount">Anzahl</label>
                    <input type="text" id="itemAmount" class="form-control" [ngModel]="selectedIngredient.amount" name="amount" required>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <button type="submit" class="btn btn-success" [disabled]="!f.valid">Speichern</button>
                    <button type="button" class="btn btn-danger" *ngIf="!isAdd" (click)="onDelete(f)">Löschen</button>
                    <button type="button" class="btn btn-primary" (click)="onClear(f)">Zurücksetzen</button>
                </div>
            </div>
        </form>
    </div>
</div>