<header>
    <ul class="nav nav-pills"> <!-- [routerLinkActiveOptions]="{exact: true} = Kompletter Link muss übereinstimmen nicht nur / -->
      <li role="presentation" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a [routerLink]="['/']">Startseite</a></li>
      <li role="presentation" routerLinkActive="active"><a [routerLink]="['/rezepte']">Rezeptbuch</a></li>
      <li role="presentation" routerLinkActive="active"><a [routerLink]="['/einkaufsliste']">Einkaufsliste</a></li>
      <li>
        <div class="dropdown" appDropdown>
          <button id="dLabel" class="btn btn-primary" type="button" aria-haspopup="true" aria-expanded="false" style="height: 40px;">
            Verwaltung
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dLabel">
            <li><a (click)="onStore()" style="cursor: pointer">Speichern</a></li>
            <li><a (click)="onFetch()" style="cursor: pointer">Laden</a></li>
          </ul>
        </div>
      </li>
    </ul>
</header>
<hr>