<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Heutige Empfehlung</h1>
        </div>        
    </div>
    <div class="row">
        <div class="col-md-6 col-xs-12">
            <div class="card">
                <img [src]="recipe.imagePath" alt="Rezept" style="width:100%">
                <div class="container">
                  <h4><b>{{recipe.name}}</b></h4> 
                  <p>{{recipe.description}}</p> 
                </div>
            </div>
        </div>
    </div>
</div>
