<div class="row">
    <div class="col-xs-12">
        <div class="btn btn-success" (click)="onNewRecipe()">Neues Rezept</div>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-xs-12">
        <ul class="list-group">
            <!-- Daten von der Mutter (recipe-list) "rezept" in die Kinds Component (recipe-item) [recipe] @Input-->
            <app-recipe-item *ngFor="let rezept of recipes; let i = index" [recipe]="rezept" [recipeId]="i"></app-recipe-item>           
        </ul> <!--index and [recipeId] @Input() an app-recipe-item übergeben-->
    </div>
</div>